{% extends 'base.html' %}
{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<section class="auth card">
    <h2>Iniciar Sesión</h2>

    <form method="post" class="form auth-form">
        
        {{ form.hidden_tag() }} 
        <div class="form-row">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", required=True) }}
            {% for error in form.username.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-row">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control", required=True) }}
            {% for error in form.password.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-actions">
            {{ form.submit(class_="btn btn-primary") }}
            <a class="btn-link" href="{{ url_for('registro') }}">Crear cuenta</a>
        </div>
    </form>
</section>
{% endblock %}